
    <div class="container p-t-20">
      <div class="bg0 p-rl-20 p-tb-40">
        <h1 class="f1-l-3 cl2 text-uppercase p-b-10">
          Titre de l'article
        </h1>
        <p class="f1-s-1 cl6 p-b-20">
          Publié le : <span class="cl10">15 décembre 2024</span> | Par : <span class="cl10">Auteur Nom</span>
        </p>

        <img src="images/latest-01.jpg" alt="Image de l'article" class="m-b-20 w-full">

        <p class="f1-s-1 cl6">
          Ceci est le contenu détaillé de l'article. Vous pouvez inclure ici des paragraphes, des citations, ou tout autre contenu que vous souhaitez mettre en avant. L'objectif est de présenter l'article de manière attrayante et lisible pour vos utilisateurs.
        </p>

        <p class="f1-s-1 cl6 m-t-20">
          Ajoutez des sous-sections ou des éléments visuels supplémentaires ici pour enrichir la présentation de votre article.
        </p>
      </div>
    </div>
