

    <!--  -->
    <div class="wrap-logo container">
      <!-- Logo bureau -->
      <div class="logo">
        <a href="index.html"><img src="images/icons/logo-01.png" alt="LOGO"></a>
      </div>

    </div>

    <!--  -->
    <div class="wrap-main-nav">
      <div class="main-nav">
        <!-- Menu bureau -->
        <nav class="menu-desktop">
          <a class="logo-stick" href="index.html">
            <img src="images/icons/logo-01.png" alt="LOGO">
          </a>

          <ul class="main-menu">
            <li class="main-menu-active">
              <a [routerLink]="'/'">Accueil</a>
            </li>

           

            <li class="mega-menu-item">
              <a [routerLink]="'/articles'">les Articles</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

